body{
    background-image: url("../images/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:20px;

    font-family: 'Times New Roman', Times, serif;
    color:white;
    width:70%;
    margin:0 auto 0 auto;
  
}

@media (min-width:900px) {
    body{
    margin-left:500px;
    }
}
h1{
    font-size: 1rem;
    margin-top:20px;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;
    
}
.btn:hover{
    background-color:turquoise;
}
label{
    font-family: cursive;
}