body{
    background-image: url("../images/home.jpg");
       background-size: cover;
    background-repeat: no-repeat;
    padding-bottom:20px;

    
    color:white;
    width:70%;
    margin:0 auto 0 auto;
  
}
@media (max-width:600px) {
    body{
        padding-bottom:400px;
        padding-top:200px;
        font-family: 'Times New Roman', Times, serif;
    }
    #footer{
        padding-top:60px;
    }
   
}
@media (min-width:900px) {
    body{
    margin-left:500px;
    }
    
.form-control{
    width:30%;
    margin:10px 3px;
}
body{
    width: 40%;
    padding-right:10px;
    margin-top:200px;
}
.btn{
    padding:5px;

}
}
h1{
    font-size: 1rem;
    margin-top:20px;
}

.btn{
    padding-left: 30px;
    padding-right: 30px;

    
}
.btn:hover{
    background-color:turquoise;
}
label{
    font-family: cursive;
}

#footer{
    margin-top:50px;
}
